<h5>カクテル人気ランキング</h5>
<p>このサイトのお気に入り数でランキングつけてます！</p>

<ul class="list-group mb-5">
  <% @drinks.each_with_index do |drink, index| %>
    <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
      <%= link_to "#{index + 1}位 : #{drink.name}", cocktails_search_path(word: drink.name), class: 'font-weight-bold' %>
      <span class="badge bg-primary rounded-pill"><%= drink.bookmarks.count %></span>
    </li>
  <% end %>
</ul>
