<%= form_with(url: results_cocktails_path, method: "get") do %>
  <div>
    <label>味わい</label>
    <select name="taste[]" multiple> <!--name="taste[]" という配列形式は複数選択できる様になる -->
      <option value="1">甘口</option>
      <option value="2">中甘口</option>
      <option value="3">中口</option>
      <option value="4">中辛口</option>
      <option value="5">辛口</option>
    </select>
  </div>

  <!-- 以前のステップの選択を隠しフィールドとして含める -->
  <input type="hidden" name="alcohol_content" value="<%= @alcohol_content %>">
  <input type="hidden" name="base" value="<%= @base %>">

  <div>
    <button type="submit">結果を表示</button>
  </div>
<% end %>
