<%= form_with(url: step2_cocktails_path, method: "get", class: "form-group") do %>  <!-- フォームを開始。送信先はstep2_cocktails_pathで、メソッドはGET、classはform-group -->
  <fieldset class="mb-3">  <!-- フィールドセットを使用してフォームのセクションをグループ化 -->
    <legend class="form-label">アルコール度数はどれぐらい？</legend>
    <div class="btn-group-vertical" role="group" aria-label="Alcohol content">
      <% [['0', 'ノンアルコール'], ['1', '1~15％前後'], ['18', '25%前後'], ['27', '35%前後']].each do |value, label| %>
        <label class="btn btn-outline-secondary rounded mb-2">
          <input type="radio" name="alcohol_from" value="<%= value %>" class="hidden-radio"> <%= label %>
        </label>
      <% end %>
    </div>
  </fieldset>
  <input type="hidden" id="alcohol_to" name="alcohol_to" value="100">
  <button type="submit" class="btn btn-outline-secondary rounded mt-2">次へ</button>
<% end %>

<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll('.hidden-radio').forEach(function(radio) {
    radio.addEventListener('change', function() {
      updateActiveStyles();
    });
  });
});

function updateActiveStyles() {
  document.querySelectorAll('.btn-group-vertical .btn').forEach(function(label) {
    label.classList.remove('active');
  });
  document.querySelectorAll('.hidden-radio:checked').forEach(function(radio) {
    radio.closest('.btn').classList.add('active');
  });
}


function determineAlcoholToValue(value) {
  switch (value) {
    case '0': return '0'; // ノンアルコール
    case '1': return '17'; // 15％前後
    case '18': return '26'; // 25%前後
    case '27': return '100'; // 35%以上
    default: return ''; // デフォルト
  }
}
</script>

<!--
form-group: Bootstrapのフォームグループクラスで、フォーム要素をまとめるために使用します。
mb-3: マージンボトムを適用して、要素間の間隔を作ります。
form-label: ラベルにスタイルを適用します。
form-select: セレクトボックスにBootstrapスタイルを適用します。
btn btn-primary: ボタンにプライマリスタイル（青色）を適用します。 
各ラジオボタンを label タグで囲んでいます。これにより、ラベル全体が選択可能な領域となります。
btn-group-vertical クラスを使用して、ボタンを垂直に並べます。
btn と btn-outline-primary クラスを使用して、各ラベルにボタンのような外観を与えます。
-->