<%= form_with(url: results_cocktails_path, method: "get", class: "form-group") do %>  <!-- フォームを開始。送信先はresults_cocktails_pathで、メソッドはGET、classはform-group -->
  <fieldset class="mb-3">
    <legend class="form-label">味わいの選択</legend>
    <div class="btn-group-vertical" role="group" aria-label="Taste Group">
      <% taste_groups = [['1,2', '甘口'], ['3', '中口'], ['4,5', '辛口']] %>
      <% taste_groups.each do |value, label| %>
        <label class="btn btn-outline-primary">
          <input type="radio" name="taste_group" value="<%= value %>" id="taste<%= value %>" class="hidden-radio"> <%= label %>
        </label>
      <% end %>
    </div>
  </fieldset>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary mt-2">結果を表示</button>
  </div>
<% end %>

<div id="loading" style="display: none;">
  <p>おすすめのカクテル考え中.....</p>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // ラジオボタンの変更時の処理
    document.querySelectorAll('.hidden-radio').forEach(function(radio) {
      radio.addEventListener('change', function() {
        document.querySelectorAll('.btn-group-vertical .btn').forEach(function(label) {
          label.classList.remove('active');
        });
        if (this.checked) {
          this.parentElement.classList.add('active');
        }
      });
    });

    // フォーム送信時の処理
    var form = document.querySelector('.form-group');
    var loading = document.getElementById('loading');
    form.addEventListener('submit', function() {
      loading.style.display = 'block'; // ロード画面を表示
    });
  });
</script>
