<h3>お気に入り一覧</h3>
<div class="cocktail-card">
  <div class="cocktail-info">
    <% @bookmarks.each do |bookmark| %>
      <div class="d-flex align-items-center justify-content-between mb-3">
        <div>
          <h6><%= bookmark.drink.name %></h6>
          <p><%= bookmark.drink.description %></p>
        </div>
        <%= link_to drink_bookmarks_path(bookmark.drink), method: :delete, class: 'custom-icon-link' do %>
          <i class="bi bi-heart-fill"></i>
        <% end %>
      </div>
    <% end %>
    <%= paginate @bookmarks %>
  </div>
</div>
