<div class="container">
  <div class="d-flex justify-content-center mt-1">
    <div class="col-auto">
    </div>
  </div>

<!-- モーダルを開くためのボタン -->
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-primary speech-bubble-button" data-toggle="modal" data-target="#hamsterModal">
    マスター紹介はここ
  </button>
</div>


<!-- モーダル -->
<div class="modal fade" id="hamsterModal" tabindex="-1" aria-labelledby="hamsterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-image: url(<%= asset_path 'modal.png' %>); background-size: cover; background-position: center;">
      <div class="modal-header">
        <h5 class="modal-title" id="hamsterModalLabel">マスターの紹介（豆知識）</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- アプリの使い方についての説明 -->
        <p>なぜハムスターがバーテンダーをしてるのか？</p>
        <p>自然界での最強の酒豪、それが意外にもあの小さいハムスター。
        <br>人間サイズになると1日で95％のアルコールを1.5ℓ飲めるそう！ちょっと計算してみました
        <p>純アルコールで計算すると5％のビール500㎖で57本でした...</p>
        <br>水とウォッカを同時に与えるとウォッカを好んで飲むほどのお酒好きらしいです
        お酒においてはハムスターは最強なのだ！！
        <br>※良い子はペットにやらないでね
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<%= form_with url: games_path, local: true do |f| %>
  <div class="row g-4 justify-content-center">
    <!-- ゲームを始めるカード -->
    <div class="col-lg-4 col-md-6">
      <div class="service card-effect text-center card-custom">
        <h5 class="mt-4 mb-2">ゲームを始める</h5>
        <p>絞り込み形式でオススメのお酒選別して提案します。</p>
        <%= f.submit "はじめる", class: 'btn btn-light rounded-pill btn-custom-border' %>
      </div>
    </div>
    
    <!-- マスターに相談するカード -->
    <div class="col-lg-4 col-md-6">
      <div class="service card-effect text-center card-custom">
        <h5 class="mt-4 mb-2">マスターに相談する</h5>
        <p>その日の気分でカクテルを選びたい方。</p>
        <%= link_to '選んでみる', consult_master_path, class: 'btn btn-light rounded-pill btn-custom-border' %>
      </div>
    </div>
  </div>
<% end %>
