<% content_for :hero do %>
  <div class="hero vh-100 d-flex align-items-center" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto text-center">
          <h1 class="display-4 text-white">貴方好みのカクテルを</h1>
          <p class="text-white my-3">
            BARなどでバーテンダーの方にお酒について聞きづらい雰囲気な時ありませんか？Naninomuでは飲みたいお酒が分からない、度数はどれぐらいなのか、お気に入りの一杯を探してる。
            様々な方達に対してカクテルについて詳しくなくても注文、興味が持てるように貴方好みのお酒を提供します。
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-light rounded-pill btn-custom-border mb-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
    マスターの紹介
  </button>
</div>

<!-- モーダル -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-image: url('<%= asset_path('modal.png') %>'); background-size: cover; background-position: center;">>
      <div class="modal-header">
        <h5 class="modal-title text-white" id="exampleModalLabel">マスターの紹介（豆知識）</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-white">
        <!-- アプリの使い方についての説明 -->
        <p>なぜハムスターがバーテンダーをしてるのか？</p>
        <p>自然界での最強の酒豪、それが意外にもあの小さいハムスター。
        <br>人間サイズになると1日で95％のアルコールを1.5ℓ飲めるそう！ちょっと計算してみました
        <p>純アルコールで計算すると5％のビール500㎖で57本でした...</p>
        <br>水とウォッカを同時に与えるとウォッカを好んで飲むほどのお酒好きらしいです
        お酒においてはハムスターは最強なのだ！！
        <br>※良い子はペットにやらないでね
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light rounded-pill btn-custom-border" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<%= form_with url: games_path, local: true do |f| %>
  <div class="row g-4 justify-content-center mb-5">
    <!-- ゲームを始めるカード -->
    <div class="col-lg-4 col-md-6">
      <div class="service card-effect text-center card-custom">
        <h5 class="mt-4 mb-2">ゲームを始める</h5>
        <p>絞り込み形式でオススメのお酒選別して提案します。</p>
        <%= f.submit "はじめる", class: 'btn btn-light rounded-pill btn-custom-border' %>
      </div>
    </div>

    <!-- マスターに相談するカード -->
    <div class="col-lg-4 col-md-6">
      <div class="service card-effect text-center card-custom mb-5">
        <h5 class="mt-4 mb-2">マスターに相談する</h5>
        <p>その日の気分でカクテルを選びたい方。</p>
        <%= link_to '選んでみる', consult_master_path, class: 'btn btn-light rounded-pill btn-custom-border' %>
      </div>
    </div>
  </div>
<% end %>
