body  {
  background-color: #FAEBD7 !important;
}

.navbar-light .navbar-toggler {
  border: none; /* 枠線を非表示に設定 */
}

.navbar-nav-right {
  margin-left: auto !important;
}

.navbar-custom {
  background-color: #F5FFFA;
}

#google-login-btn {
  background-color: #4285F4; /* Googleのブルー */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  margin: 10px 0;
}

#google-login-btn i {
  margin-right: 8px; /* アイコンとテキストの間隔 */
}

#google-login-btn:hover {
  background-color: #357ae8; /* ホバー時の色 */
}

.bi-heart {
  color: grey; /* 未選択時の色 */
}

.bi-heart-fill {
  color: red; /* 選択時の色 */
}

.favorite-icon-link {
  display: flex; /* フレックスボックスを使用 */
  align-items: center; /* アイテムを垂直方向の中央に配置 */
  justify-content: center; /* アイテムを水平方向の中央に配置 */
}

.custom-icon-link {
  color: red; /* アイコンの色をピンクに設定 */
  background-color: transparent;
  border-radius: 50%;
  text-decoration: none;
  padding: 10px; /* アイコンの周りのスペース */
}

.custom-icon-link:hover {
  color: pink; /* ホバー時のアイコンの色 */
  background-color: transparent; /* ホバー時の背景色を変更しない */
  text-decoration: none; /* ホバー時の下線を削除 */
  padding: 10px; /* アイコンの周りのスペース */
}

.cocktails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cocktail-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.cocktail-info {
  margin-left: 20px;
}

.cocktail-card h3 {
  margin-top: 0;
  color: #333;
}

.cocktail-card p {
  color: #666;
  font-size: 14px;
}

.alcohol-content {
  font-weight: bold;
  color: #ff4500;
}

/* チェックボックスを非表示にする */
.hidden-checkbox {
    display: none;
  }

/* チェックボックスが選択されているときのラベルスタイル */
.custom-radio-label.checked {
  background-color: #007bff;
  color: white;
}

/* ラジオボタンを視覚的に隠すが、アクセシビリティツールからはアクセス可能に保つ */
.hidden-radio {
    position: absolute;
    left: -9999px;
  }

/* ラジオボタン風のラベルスタイル */
.custom-radio-label {
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
  text-align: center;
  color: #007bff;
  background-color: #fff;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.custom-radio-label:hover {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* 利用規約、プライバシーポリシー */
.text-container {
  background-color: #FAEBD7; /* 背景色 */
  border-radius: 10px; /* 枠の角を丸める */
  padding: 20px; /* 内側の余白 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 影をつける */
  margin-top: 20px; /* 上の余白 */
  word-wrap: break-word; /* 長い単語も折り返す */
  white-space: normal; /* テキストを折り返す */
}

.text-container h4 {
  color: #333; /* 文字色 */
  margin-bottom: 15px; /* 下の余白 */
}

.text-container h5 {
  color: #00c8ff; /* 文字色 */
  margin-top: 20px; /* 上の余白 */
  font-size: 16px; /* 見出しのフォントサイズを調整 */
  line-height: 1.4;
}

.text-container p,
.text-container ul {
  line-height: 1.6; /* 行間 */
  color: #555; /* 文字色 */
  font-size: 14px; /* フォントサイズを小さく */
}

.text-container ul {
  padding-left: 20px; /* リストのインデント */
}

/* スマホ用のスタイル */
@media (max-width: 768px) {
  .container {
    width: 100%; /* モバイルデバイスでの幅を100%に設定 */
    padding: 0 15px; /* 必要に応じてパディングを調整 */
  }
  .text-container p, .text-container h4, .text-container h5,
  .container p, .container h1, .container h2 {
    font-size: smaller; /* フォントサイズを小さくする */
    line-height: 1.5; /* 行間を適切に設定 */
    padding: 5px; /* パディングを小さく設定 */
    margin: 10px 0; /* マージンを適切に設定 */
  }
  .sidebar {
    display: none;
  }
  .main-content {
    width: auto;
    margin: 0 10px;
  }
  /* 他にもスマホサイズに適応するスタイルをここに追加 */
}
