@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&family=Sora:wght@400;700&display=swap");

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  /* --orange: rgb(221, 155, 94); */
  --box-shadow: 0 6px 17px rgba(0, 0, 0, 0.4);
}

body {
  background-color: #FAEBD7;
  font-family: Sora, "sans-serif";
  line-height: 1.7;
  color: var(--body);
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ビューポートの高さに合わせて、bodyの高さを設定 */
  margin: 0; /* デフォルトのマージンをリセット */
}

.content {
  flex-grow: 1; /* コンテンツがフッターを下に押し下げる */
}

.footer-top {
  padding-bottom: 50px;
  padding: 30px;
  background-color: #212529;
  margin-top: auto; /* 自動的に上の余白を調整して、フッターを最下部に配置 */
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.btn {
  padding: 12px 16px;
  border-width: 1px;
  border-radius: 0;
}

.navbar .nav-link {
  color: #fff !important;
  font-size: 14px;
  font-weight: 700;
  padding-top: 15px;
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: #faffff;
  padding: 25px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.service {
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.service::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  background-color: #696969;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
}

.service:hover h5,
.service:hover p {
  color: white;
}

.service:hover .iconbox {
  background-color: #fff;
  color: var(--primary);
}

.service:hover::after {
  opacity: 1;
  top: 0;
}

/* ページネーションコンテナのスタイリング */
nav.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  list-style: none;
}

/* 全てのページとナビゲーション要素のスタイリング */
nav.pagination span {
  margin: 0 5px; /* 要素間の隙間 */
}

/* リンクが含まれるspan要素のスタイル */
nav.pagination span a {
  padding: 5px 10px;
  text-decoration: none;
  color: #337ab7; /* リンクの色 */
  background-color: #f5f5f5; /* 背景色 */
  border: 1px solid #ddd; /* 境界線 */
  border-radius: 5px; /* 角の丸み */
}

nav.pagination span a:hover {
  background-color: #ddd; /* ホバー時の背景色 */
}

/* 無効なリンクのスタイリング */
nav.pagination .disabled a, nav.pagination .disabled a:hover {
  color: #ccc;
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}

.card {
  border-radius: 10px; /* 角の丸みを追加 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* カードに影を追加 */
  transition: transform 0.3s ease-in-out; /* ホバー時のアニメーションをスムーズに */
}

.card:hover {
  transform: translateY(-5px); /* ホバー時にカードを少し持ち上げる */
}

.card-title {
  color: #212529; /* Bootstrapのプライマリーカラーを使用 */
  font-weight: bold; /* タイトルの文字を太く */
  letter-spacing: 0.5px; /* 文字間隔を少し広げる */
}

.card-text {
  color: #555; /* テキストの色を少し暗めに設定 */
  font-size: 14px; /* フォントサイズを指定 */
}

.card .btn-primary {
  background-color: #007bff; /* ボタンの背景色 */
  border: none; /* ボタンの枠線を削除 */
  border-radius: 20px; /* ボタンの角を丸くする */
  padding: 10px 20px; /* ボタンのパディングを調整 */
  transition: background-color 0.3s ease-in-out; /* 色の変化をスムーズに */
}

.card .btn-primary:hover {
  background-color: #0056b3; /* ホバー時の背景色を少し暗く */
}

/* モーダルコンテンツ全体のスタイル */
.modal-content {
  border-radius: 20px; /* 角の丸み */
  z-index: 1;
}

/* モーダルヘッダーのスタイル */
.modal-header {
  border-bottom: 1px solid #444; /* ヘッダーの下線 */
}

.modal-title {
  font-weight: bold; /* タイトルのフォントの太さ */
}

/* ボタンクローズのスタイル */
.btn-close {
  filter: invert(1); /* アイコンの色を白く */
}

/* モーダルボディのスタイル */
.modal-body {
  padding: 20px; /* 内側の余白 */
}

/* モーダルフッターのスタイル */
.modal-footer {
  border-top: 1px solid #444; /* フッターの上線 */
  justify-content: center; /* ボタンを中央揃え */
}

/* モーダルのボタンスタイル */
.modal-footer .btn-secondary {
  background-color: #6c757d; /* ボタンの背景色 */
  border: none; /* 枠線を消す */
  border-radius: 5px; /* 角の丸み */
}

/* ホバー時のボタンスタイル */
.modal-footer .btn-secondary:hover {
  background-color: #5a6268; /* ホバー時の背景色 */
}

/* フォーカス・アクティブ時のボタンスタイル */
.modal-footer .btn-secondary:focus,
.modal-footer .btn-secondary:active {
  background-color: #545b62; /* フォーカス・アクティブ時の背景色 */
  box-shadow: none; /* ボックスシャドウを消す */
}

.btn-primary.speech-bubble-button {
  position: absolute;
  top: -130px; /* 親要素から上に50pxの位置 */
  right: 230px; /* 親要素から右に20pxの位置 */
  display: inline-block;
  padding: 15px 15px;
  background-color: #FFEFD5; /* ボタンの背景色 */
  color: #111111; /* テキストの色 */
  font-size: 16px;
  border: 1px solid #DCDCDC; /* 枠線を黒色に */
  border-radius: 0px; /* ボタンの角を丸くする */
  transition: transform 0.3s; /* ホバー時の変化を滑らかに */
  text-align: center; /* テキストを中央揃え */
  white-space: nowrap; /* テキストを折り返さない */
}

.btn-primary.speech-bubble-button:hover {
  transform: scale(1.1); /* ホバー時に少し大きくする */
  background-color: #FAEBD7; /* ホバー時もボタンの背景色を保持 */
  color: #111111; /* ホバー時もテキストの色を保持 */
  border: 1px solid #D3D3D3; /* 枠線 */
}

.btn-primary.speech-bubble-button:focus {
  background-color: #FFEFD5; /* アクティブ時もボタンの背景色を保持 */
  color: #111111; /* アクティブ時もテキストの色を保持 */
  box-shadow: none; /* アクティブ時のボックスシャドウを除去 */
  border: 1px solid #D3D3D3; /* 枠線 */
}

.navbar-light .navbar-toggler {
  border: none; /* 枠線を非表示に設定 */
}


.navbar-custom {
  background-color: #F5FFFA;
}

.search-field {
  width: 250px; /* 幅を250pxに固定 */
}

.btn-custom-border {
  border-color: black !important; /* 枠線を黒色に設定 */
}

.footer-top a {
  color: var(--body);
}

.footer-top a:hover {
  color: #fff;
}

#google-login-btn {
  background-color: #4285F4; /* Googleのブルー */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  border-radius: 30px;
  margin: 10px 0;
}

#google-login-btn i {
  margin-right: 8px; /* アイコンとテキストの間隔 */
}

#google-login-btn:hover {
  background-color: #357ae8; /* ホバー時の色 */
}

.bi-heart {
  color: grey; /* 未選択時の色 */
}

.bi-heart-fill {
  color: red; /* 選択時の色 */
}

.favorite-icon-link {
  display: flex; /* フレックスボックスを使用 */
  align-items: center; /* アイテムを垂直方向の中央に配置 */
  justify-content: center; /* アイテムを水平方向の中央に配置 */
}

.custom-icon-link {
  color: red; /* アイコンの色をピンクに設定 */
  background-color: transparent;
  border-radius: 50%;
  text-decoration: none;
  padding: 10px; /* アイコンの周りのスペース */
}

.custom-icon-link:hover {
  color: pink; /* ホバー時のアイコンの色 */
  background-color: transparent; /* ホバー時の背景色を変更しない */
  text-decoration: none; /* ホバー時の下線を削除 */
  padding: 10px; /* アイコンの周りのスペース */
}

.cocktails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cocktail-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.cocktail-info {
  margin-left: 20px;
}

.cocktail-card h3 {
  margin-top: 0;
  color: #333;
}

.cocktail-card p {
  color: #666;
  font-size: 14px;
}

.alcohol-content {
  font-weight: bold;
  color: #ff4500;
}

/* チェックボックスを非表示にする */
.hidden-checkbox {
    display: none;
  }

/* チェックボックスが選択されているときのラベルスタイル */
.custom-radio-label.checked {
  background-color: #007bff;
  color: white;
}

/* ラジオボタンを視覚的に隠すが、アクセシビリティツールからはアクセス可能に保つ */
.hidden-radio {
    position: absolute;
    left: -9999px;
  }

/* ラジオボタン風のラベルスタイル */
.custom-radio-label {
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
  text-align: center;
  color: #007bff;
  background-color: #fff;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.custom-radio-label:hover {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* 利用規約、プライバシーポリシー */
.text-container {
  background-color: #FAEBD7; /* 背景色 */
  border-radius: 10px; /* 枠の角を丸める */
  padding: 20px; /* 内側の余白 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 影をつける */
  margin-top: 20px; /* 上の余白 */
  word-wrap: break-word; /* 長い単語も折り返す */
  white-space: normal; /* テキストを折り返す */
}

.text-container h4 {
  color: #333; /* 文字色 */
  margin-bottom: 15px; /* 下の余白 */
}

.text-container h5 {
  color: #00c8ff; /* 文字色 */
  margin-top: 20px; /* 上の余白 */
  font-size: 16px; /* 見出しのフォントサイズを調整 */
  line-height: 1.4;
}

.text-container p,
.text-container ul {
  line-height: 1.6; /* 行間 */
  color: #555; /* 文字色 */
  font-size: 14px; /* フォントサイズを小さく */
}

.text-container ul {
  padding-left: 20px; /* リストのインデント */
}

.hero {
  background-image: url('/img/alcole1.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(58, 58, 58, 0.156);
  z-index: -1;
}

/* スマホ用のスタイル */
@media (max-width: 768px) {
  .container {
    width: 100%; /* モバイルデバイスでの幅を100%に設定 */
    padding: 0 15px; /* 必要に応じてパディングを調整 */
  }

  .text-container p, .text-container h4, .text-container h5,
  .container p, .container h1, .container h2 {
    font-size: smaller; /* フォントサイズを小さくする */
    line-height: 1.5; /* 行間を適切に設定 */
    padding: 5px; /* パディングを小さく設定 */
    margin: 10px 0; /* マージンを適切に設定 */
  }

  .sidebar {
    display: none;
  }

  .main-content {
    width: auto;
    margin: 0 10px;
  }

  .navbar-brand {
    margin-bottom: 0.5rem; /* Bootstrapのmb-3と同じマージンを適用 */
  }
  /* 他にもスマホサイズに適応するスタイルをここに追加 */
}
