/* チェックボックスを非表示にする */
.hidden-checkbox {
    display: none;
  }

/* チェックボックスが選択されているときのラベルスタイル */
.custom-radio-label.checked {
  background-color: #007bff;
  color: white;
}


  /* ラジオボタン風のラベルスタイル */
  .custom-radio-label {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    text-align: center;
    color: #007bff;
    background-color: #fff;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  
  .custom-radio-label:hover {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  