<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>お知らせいたします。現在、メールアドレスを<%= @resource.unconfirmed_email %>に変更中です。</p>
<% else %>
  <p>お知らせいたします。メールアドレスが<%= @resource.email %>に変更されました。</p>
<% end %>
