<p>Hello <%= @resource.email %>!</p>

<p>連続してのログイン試行の失敗が原因で、アカウントがロックされました。</p>

<p>アカウントをロック解除するには、以下のリンクをクリックしてください。</p>

<p><%= link_to 'アカウントをロック解除する', unlock_url(@resource, unlock_token: @token) %></p>
